@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.app-container {
    background: #f3f3ff;
    min-height: 940px;
    width: 100%;
    height: 100vh;

}

.circle {
    width: 450px;
    height: 450px;
    background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
    filter: blur(120px);
}

.red {
    background: #fe624d;
    border: 2px solid #ee5e4b;
}

.yellow {
    background: #FFC432;
    border: 2px solid #F2BD3A;
}

.green {
    background: #5BDE47;
    border: 2px solid #5FC651;
}

.app-color-yellow {
    color: #FFA41D;
}
.app-color-black {
    color: #292B48;
}
.app-color-gray {
    color: #877F95;
}
.app-color-lavendar {
    color: #9EA1CF;
}
.app-color-pink {
    color: #FB28CD;
}

.app-bg-lavendar {
    color: #D5D7FF;
}

.app-bg-light-white {
    color: #F7F8FF;
}
.app-bg-light-white-2 {
    color: #EFF2FC;
}

.app-color-dribbble {
    color: #E04B85;
}

.app-shadow {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.03);
}

.app-title {
    background: linear-gradient(45deg, #fb28cd, #7c65d7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

span.active {
    position: relative;
    color: #292b48;
    display: flex;
    justify-content: center;
    align-items: end;
}

span.active::after {
    content: '';
    width: 200%;
    height: 2px;
    background: #292b48;
    position: absolute;
    bottom: -20px;
}

.switch-checkbox {
    display: none;
}

.switch {
    position: relative;
}

.switch-bg {
    height: 24px;
    width: 44px;
    background: #fb28cd;
    border-radius: 15px;
}

.switch-indicator {
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fb28cd;
    border: 5px solid white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: .2s ease-out;
}


.switch-checkbox:checked~.switch-indicator{
    transform: translateX(100%);
}

.switch-checkbox:checked~.switch-bg {
    background: #e9ecfa;
}


/* 새로 추가*/
#row {
  display: flex;
  flex-wrap: wrap;
}

#row .upload-box {
  width: calc(50% - 15px);
  box-sizing: border-box;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#row .upload-box .drag-file{
  width: 65%;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px dashed #dbdbdb; */
  margin-bottom: 20px;
  border-radius: 20px;    /* 새로운 디자인*/
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;

}
#row .upload-box .drag-file.hover {
  border: 3px dashed #7c65d7;
}
#row .upload-box .drag-file .image {
  width: 40px;
}
#row .upload-box .drag-file .select_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#row .upload-box .drag-file .message {
  margin-bottom: 0;
}

#row .upload-box .restart{
  margin-top: 30px;
  background-color: rgb(239, 190, 31);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 65%;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}


/* detail 부분 정리*/
#row .files {
  width: calc(50% - 15px);
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
}

#row .files .file {
  display: flex;
  padding: 20px 20px;
  border-bottom: 1px solid #dbdbdb;
}
#row .files .file:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}
#row .files .file .thumbnail {
  display: flex;
  flex: none;
  width: 100px;
  height: 100px;
  margin: 20px;
  /* margin-right: 20px; */
  align-items: center;

}
#row .files .file .thumbnail .image {
  width: 100%;
}
#row .files .file .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#row .files .file .details .header {
  display: flex;
}
#row .files .file .details .header .name {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#row .files .file .details .header .size {
  margin-left: auto;
}

#row .files .file .progress {
  position: relative;
  height: 6px;
  background-color: #dbdbdb;
  overflow: hidden;
  margin-top: 4px;
  border-radius: 10px;
}
#row .files .file .progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5b975b;
}

#row .files .file .status {
  display: flex;
  width: 100%;
}

#row .files .file .status .speed {
  margin-left: auto;
}

/* 모바일 화면 처리 */
@media(max-width: 700px) {
  #row .upload-box {
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
  }
  #row .upload-box .drag-file {
    height: 250px;
  }
  #row .files {
      width: 100%;
      box-sizing: border-box;
      margin-right: 0;
      overflow: initial;
  }


}