<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
</head>
<body>
    <div class="app-container flex justify-center items-end pb-10">
        <div class="circle rounded-full"></div>
        <div class="absolute top-6 flex flex-col w-full items-center">
            <div class="flex items-center w-full">
                <div class="flex px-6">
                    <div class="h-2 w-2 rounded-full mx-1 red"></div>
                    <div class="h-2 w-2 rounded-full mx-1 yellow"></div>
                    <div class="h-2 w-2 rounded-full mx-1 green"></div>
                </div>
                <div class="flex bg-white items-center w-5/12 px-6 py-4 rounded-md app-shadow">
                    <i class="fa-solid fa-star app-color-yellow text-xs"></i>
                    <span class="font-bold app-color-black ml-4 mr-auto text-xs">wizzair.com</span>
                    <i class="fa-solid fa-ellipsis app-color-lavendar"></i>
                </div>
                <div class="mr-auto flex app-bg-light-white rounded-md px-6 py-4 ml-3 app-shadow">
                    <i class="fa-brands fa-dribbble app-color-dribbble mr-2"></i>
                    <span class="font-bold app-color-black text-xs">상표</span>
                </div>
                <div class="flex bg-white px-6 py-4 app-shadow rounded-md mr-6">
                    <span class="font-bold app-color-black text-xs">info</span>
                    <div class="w-px app-bg-light-white-2 bg-white mx-4"></div>
                    <i class="fa-regular fa-user mr-2 app-color-black"></i>
                    <i class="fa-solid fa-angle-down text-xs app-color-black"></i>
                </div>

            </div>
            <div class="flex flex-col text-center my-20">
                <span class="font-semibold text-4xl mb-4 app-title">Markit</span>
                <span class="app-color-black font-semibold">브랜드 검색 엔진</span>

            </div>
            <div class="bg-white/50 w-10/12 px-6 pt-12 pb-16 app-shadow rounded-xl backdrop-blur-[200px]">
                <div class="contents">
                    <div class="upload-box">
                        <div id="drop-file" class="drag-file">
                            <img src="https://img.icons8.com/pastel-glyph/2x/image-file.png" alt="파일 아이콘" class="image">
                            <p class="message">Drag files to upload</p>
                        </div>
                        <label class="file-label" for="chooseFile">Choose File</label>
                        <input class="file" id="chooseFile" type="file" onchange="uploadFile()">
                        <a class="file-result" href="#" onclick="submitAndConfirm();">제출하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>